{% include "includes/navbar.html" %}
{% extends "layout.html" %}

{% block body %}
{% from "includes/formshelpers.html" import render_field %}
<div class = "container" style="position:relative; background-color:#F1F2F2; padding:10px; border-radius:25px; opacity:1;">
<h3>Şifre Değiştirme</h3>
<br>
<small>Eğer şifrenizi değiştirmek istiyorsanız, aşağıdaki alanları doldurarak "Şifreyi değiştir" butonuna tıklayınız.</small>
<br>
<hr>
<br>
<form method = "post">
    {{ render_field(form.oldpw, class = "form-control") }}
    {{ render_field(form.newpw, class = "form-control") }}
    {{ render_field(form.confirm, class = "form-control") }}
    <br>
    <button type="submit" class="btn btn-primary" style="background:#0E3A2F; color:#78FAAE; border-radius:10px;"><b>Şifreyi değiştir</b></button>
</form>
<br>
<br>
</div>
{% endblock body %}