{% include "includes/navbar.html" %}
{% extends "layout.html" %}
{% block body %}
{% from "includes/formshelpers.html" import render_field %}
<div class = "container" style="position:relative; background-color:#F1F2F2; padding:10px; border-radius:25px; opacity:1;">
  <div style="margin-left:30px;">
    <br>
    <h3>Profil Bilgileri</h3>
    <br>
    <small>Profil Bilgilerinizi burada görüntüleyebilir, bazı değişiklikler yapabilirsiniz.</small>
    <br>
    <small>Eğer yanlış bilgiler mevcut ise ve değiştiremiyorsanız, lütfen IT Departmanı ile iletişime geçin.</small>
    <br>
    <hr style="margin-right:30px;">
    <br>
  </div>

  <div style="display:flex; justify-content:center;">
    <form method = "post" style="text-align:left;">
      <label><b>Adınız: </b>{{session["name"]}}</label>
      <br>
      <label><b>Soyadınız: </b>{{session["surname"]}}</label>
      <br>
      <label><b>Departman: </b>{{session["departman"]}}</label>
      <br>
      <label><b>Kullanıcı Adı: </b>{{session["username"]}}</label>
      <br>
      <label><b>e-mail: </b>{{session["email"]}}</label>
      <br>
      <br>
  </div>
  <div style="text-align:center;">
      <small><a href="/password&change" style="color:#0E3A2F; font-size:16px;"><b><u>Şifre Değiştir</u></b></a></small>
      <br>
      <br>
    </form>
  </div>
</div>
{% endblock body %}